<mat-card class="mb-4">
    <div class="flex justify-between">
        <div class="">
            <button  mat-button [matMenuTriggerFor]="sortByMenu" >
                Sort By {{sort}}
            </button>
            <mat-menu #sortByMenu>
                <button (click)="onSortUpdate('Desc')" mat-menu-item>Desc</button>
                <button (click)="onSortUpdate('Asc')" mat-menu-item>Asc</button>
            </mat-menu>
        </div>
        <div class="flex items-center">
            <div class="">
                <button mat-button [matMenuTriggerFor]="menu">
                    Show {{ itemsCount }}
                    <mat-icon>expand_more</mat-icon> 
                </button>
                    <mat-menu #menu="matMenu" >
                        <div class="flex justify-start ml-3 items-start flex-col">
                            <button mat-button (click)="onItem(22)">
                                22
                            </button>
                            <button mat-button (click)="onItem(40)">
                                40
                            </button>
                            <button mat-button (click)="onItem(12)">
                                12
                            </button>
                        </div>
                    </mat-menu>                
            </div>
            <button (click)="onColumsUpdated(1)">
                <mat-icon>
                    view_list
                </mat-icon>
            </button>
            <button (click)="onColumsUpdated(3)" >
                <mat-icon>
                    view_module
                </mat-icon>
            </button>
            <button (click)="onColumsUpdated(4)">
                <mat-icon>
                    view_comfy
                </mat-icon>
            </button>
        </div>
    </div>
</mat-card>