<mat-toolbar class="w-full justify-between ">
    <a class="font-semibold text-xl text-red-600 tracking-widest" routerLink="/">
        <!-- <h1 class=" logo text-semibold  tracking-wider text-blue-950">
            Taha's
            <span class="text-orange-600">
                Shop 
            </span>
        </h1> -->
        <img src="http://www.linkommunity.com/img/logo.png" alt="" class="sm:w-[23%] w-[50%]">
    </a>

    <app-navbar-card>
        <!-- See navbar-card.component -->
    </app-navbar-card>
</mat-toolbar>
