<mat-card class="text-center">
    <div class="">
        <img class="mb-1 mx-auto h-[200px] transition duration-200 hover:scale-105"  src="https://via.placeholder.com/150" alt=""/>
        <div class="w-full">
            <div class="">
                <h5>Shoes</h5>
                <p class="truncate transition-all duration-300 hover:whitespace-normal">
                    snickers
                </p>
                <p class="">
                    Description
                </p>
            </div>
            <div class="flex justify-between">
                <span class="text-red-400">
                    {{ '150' | currency }}
                </span>
                <button>
                    <mat-icon class="text-gray-600">
                        shopping_cart
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-card>