<mat-expansion-panel  *ngIf="categories">
    <mat-expansion-panel-header>
        <mat-panel-title class="uppercase">
            categories
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list [multiple]="false" >
        <mat-list-option  *ngFor="let ctg of categories" [value]="ctg">
            <button (click)="onShowCategorie(ctg)" >
                {{ ctg }}
            </button>
        </mat-list-option>
    </mat-selection-list>
</mat-expansion-panel>



